<footer class="bg-dark text-center p-3 text-light">
    <p>&copy; 2023 Created by <a href="https://alextina.pe" target="_blank">www.alextina.pe</a>. <br>For more information about Node.js, visit <a href="https://nodejs.org/" target="_blank">www.nodejs.org</a>.</p>
</footer>